<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/style-404.css">
</head>

<body>
    <header class="header">
        <a href="/"><img class="logo" src="/imgs/logo.png" alt="Golf simulation logo">
        </a>
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li><a href="#" class="main-nav-link">Contact us</a></li>
                <li><a href="#" class="main-nav-link">Learn how it works</a></li>
                <li><a href="#" class="main-nav-link nav-cta">Test it out</a></li>

            </ul>
        </nav>

        <button class="btn-mobile-nav">
            <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
            <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>

        </button>
    </header>
    <h1>404, Page Not Found!</h1>
</body>

</html>